
body{
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 1em;
  font-size: 100%;
  background-image: url(../bg2.jpg);
}

#header {
    background-color: lightblue;
    width: 1000px;
    margin: 0 auto;
    border-radius: 8px
}

p {
  font-family: sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  margin: 5%;
}

ul {
  margin:0;
  padding:0;
}

#header ul li {
  display:inline-block;
  padding: 5px;
}

#covid {
 width: 25%;
 float: right;
}

#content {
  width: 70%;
  float: left;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 2px grey;
  text-align: justify;
  margin-top: 2em;
  border-top: 2px solid #ccc;
}

ol {
  margin:5%;
  line-height: 1.5;
  } 

#sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 30%;
  float: right;
  padding-left: 1em;
}

.footer {
  clear:both;
  text-align:left;
  padding: ,8px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px; 
}
